<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <style>
    body {
      background-color: rgb(165, 184, 192);
    }
  </style>

  <body>
    <h1>Hello There</h1>
    <ul>
      <li><a href="/github">Github</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/cookie">Cookies</a></li>
    </ul>
    <h1>Redirects</h1>
    <ul>
      <li><a href="/about/me">About/me</a> - Redirect</li>
      <li><a href="/contact/me">Contact/me</a> - Redirect</li>
      <li><a href="/github/Ksnow13">github/Ksnow13</a> - Redirect</li>
    </ul>
  </body>
</html>
